.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1200px;
  background: rgb(70, 69, 69);
  margin: 0 auto;
}

.main-empty {
  height: 20px;
}

.main-empty-footer {
  min-height: 20px;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 360px) {
  .main-wrapper {
    width: 100%;
  }
}

@media (min-width: 580px) {
  .main {
    justify-content: left;
    margin-left: 20px;
  }
}
.main-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin-right: 50px;
}

.main-select-type, .main-select-genre {
  width: 150px;
  margin-right: 20px;
}

.pagination {
  margin-bottom: 10px;
}